*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  background: #98c1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.clock {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
}
.clock .number {
  --rotation: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  position: absolute;
  font-size: 1.5rem;
}

.inside {
  transform: rotate(var(--rotation));
}

.a-num1 {
  --rotation: -30deg;
}
.clock .number1 {
  --rotation: 30deg;
}

.a-num2 {
  --rotation: -60deg;
}
.clock .number2 {
  --rotation: 60deg;
}

.a-num3 {
  --rotation: -90deg;
}
.clock .number3 {
  --rotation: 90deg;
}

.a-num4 {
  --rotation: -120deg;
}
.clock .number4 {
  --rotation: 120deg;
}

.a-num5 {
  --rotation: -150deg;
}
.clock .number5 {
  --rotation: 150deg;
}

.a-num6 {
  --rotation: -180deg;
}
.clock .number6 {
  --rotation: 180deg;
}

.a-num7 {
  --rotation: -210deg;
}
.clock .number7 {
  --rotation: 210deg;
}

.a-num8 {
  --rotation: -240deg;
}
.clock .number8 {
  --rotation: 240deg;
}

.a-num9 {
  --rotation: -270deg;
}
.clock .number9 {
  --rotation: 270deg;
}

.a-num10 {
  --rotation: -300deg;
}
.clock .number10 {
  --rotation: 300deg;
}

.a-num11 {
  --rotation: -330deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  left: 50%;
  bottom: 50%;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: black;
  z-index: 10;
  transform-origin: bottom;
  transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.clock .hand.hour {
  width: 8px;
  height: 30%;
  background-color: black;
}

.clock .hand.minute {
  width: 5px;
  height: 35%;
  background-color: rgb(20, 72, 116);
}
.clock .hand.second {
  width: 3px;
  height: 40%;
  background-color: red;
}
